body {
    background: #111;
    color: #ddd;
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

a {
    color: #aee;
}

/* Front page */
#games {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 600px;
}

#games h2 {
    flex: 300px;
}

#games h2 img {
    display: block;
    margin: 0 auto;
}

/* Game page */
html, body {
    height: 100%;
}

#col {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

#heading, #arthurmodes {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 1280px;
}

#heading h1, #heading p {
    font-size: 16px;
    margin: 12px;
}

#inner {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
}

#arthurmodes {
    justify-content: space-around;
}

#arthurmodes p {
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
    padding: 6px;
}

/* Show shorter buttons on mobile */
.arthurshort {
    display: none;
}

@media (max-width: 500px) {
    #arthurmodes p {
        font-size: 14px;
    }
    .arthurfull {
        display: none;
    }
    .arthurshort {
        display: block;
    }
}

canvas {
    display: block;
}

#textinput {
    position: absolute;
    left: -10000px;
}